$pp-color-background  : #00202B;
$pp-color-text        : #E5E5E5;
$pp-color-background1 : #003B66;
$pp-color-background2 : #0085B2;
$pp-color-background3 : #00ACE5;


#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $pp-color-background;
  color: $pp-color-text;
  p {
    margin: 0;
  }
}
#content {
  margin: auto;
  width: 25%;
  border: 3px solid green;
  padding: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $pp-color-background1;
}
