<form [formGroup]="form">
  <ng-container *ngFor="let elementName of formData.order">
    <ng-container [ngSwitch]="formData.elements[elementName].type">
      <mat-form-field *ngSwitchCase="'datepicker'" [style.display]="formData.elements[elementName].hidden ? 'none' : 'block'">
        <mat-label>{{ formData.elements[elementName].placeholder }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [required]="formData.elements[elementName].required"
          [formControlName]="elementName"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngFor="let errorMessage of formData.elements[elementName].errors | keyvalue">
          <p
            *ngIf="formData.elements[elementName].errors[errorMessage.key] && form.hasError(errorMessage.key, elementName)">{{ errorMessage.value }}</p>
        </mat-error>
      </mat-form-field>
      <mat-slide-toggle *ngSwitchCase="'toggle'" [formControlName]="elementName" [style.display]="formData.elements[elementName].hidden ? 'none' : 'block'">
        {{ formData.elements[elementName].placeholder }}
      </mat-slide-toggle>
      <div *ngSwitchCase="'hidden'">
        <input
          matInput
          [hidden]="true"
          [required]="formData.elements[elementName].required"
          type="text"
          [formControlName]="elementName">
      </div>
      <mat-form-field *ngSwitchCase="'select'" [style.display]="formData.elements[elementName].hidden ? 'none' : 'block'">
        <mat-label>{{ formData.elements[elementName].placeholder }}</mat-label>
        <mat-select
          matInput
          [required]="formData.elements[elementName].required"
          [placeholder]="formData.elements[elementName].placeholder"
          [formControlName]="elementName"
        >
          <mat-option *ngFor="let option of formData.elements[elementName].options |keyvalue" [value]="option.key">
            {{ option.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'chip'" [style.display]="formData.elements[elementName].hidden ? 'none' : 'block'">
        <app-chip-form-element
          matInput
          [required]="formData.elements[elementName].required"
          [placeholder]="formData.elements[elementName].placeholder"
          [formControlName]="elementName"
        >
        </app-chip-form-element>
      </mat-form-field>
      <div *ngSwitchCase="'picture_upload'" [style.display]="formData.elements[elementName].hidden ? 'none' : 'block'" style="align-content: center">
        <div class="image">
          <img #imagePreview [attr.data-src]="filesPreview[elementName] || '/assets/img/placeholder.png'" [src]="filesPreview[elementName] || '/assets/img/placeholder.png'" alt="image">
        </div>
        <div class="file-input-actions">
          <button
            type="button"
            mat-button
            label="upload"
            color="primary"
            (click)="pictureUpload.click()"
          >
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button
            type="button"
            mat-button
            label="remove"
            color="warn"
            [disabled]="filesPreview[elementName] === null && pictureUpload.value === ''"
            (click)="filesPreview[elementName] = null; form.controls[elementName].setValue(''); pictureUpload.value = ''; onFileChanged(elementName, pictureUpload); setImage(pictureUpload, imagePreview)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <input
          #pictureUpload
          [hidden]="true"
          [required]="formData.elements[elementName].required"
          [placeholder]="formData.elements[elementName].placeholder"
          type="file"
          [accept]="formData.elements[elementName].accept"
          max-size="250"
          (change)="onFileChanged(elementName, pictureUpload); setImage(pictureUpload, imagePreview)"
          [formControlName]="elementName">
        <mat-error *ngFor="let errorMessage of formData.elements[elementName].errors | keyvalue">
          <p *ngIf="form.controls[elementName].touched &&  formData.elements[elementName].errors[errorMessage.key] && form.hasError(errorMessage.key, elementName)">
            {{ errorMessage.value }}
          </p>
        </mat-error>
      </div>
      <mat-form-field *ngSwitchCase="'textarea'" [style.display]="formData.elements[elementName].hidden ? 'none' : 'block'">
        <textarea
          matInput
          [required]="formData.elements[elementName].required"
          [placeholder]="formData.elements[elementName].placeholder"
          [type]="formData.elements[elementName].type"
          [formControlName]="elementName"></textarea>
        <mat-error *ngFor="let errorMessage of formData.elements[elementName].errors | keyvalue">
          <p *ngIf="formData.elements[elementName].errors[errorMessage.key] && form.hasError(errorMessage.key, elementName)">
            {{ errorMessage.value }}
          </p>
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngSwitchDefault [style.display]="formData.elements[elementName].hidden ? 'none' : 'block'">
        <span matPrefix *ngIf="formData.elements[elementName].prefix">{{ formData.elements[elementName].prefix }}</span>
        <input
          matInput
          [required]="formData.elements[elementName].required"
          [placeholder]="formData.elements[elementName].placeholder"
          [type]="formData.elements[elementName].type"
          [formControlName]="elementName">
        <mat-error *ngFor="let errorMessage of formData.elements[elementName].errors | keyvalue">
          <p *ngIf="formData.elements[elementName].errors[errorMessage.key] && form.hasError(errorMessage.key, elementName)">
            {{ errorMessage.value }}
          </p>
        </mat-error>
      </mat-form-field>
    </ng-container>
  </ng-container>
</form>
