/* You can add global styles to this file, and also import other style files */

$pp-color-background: #00202B;
$pp-color-text: #E5E5E5;
$pp-color-background1: #003B66;
$pp-color-background2: #0085B2;
$pp-color-background3: #00ACE5;


html, body {
  height: 100%;
  //background-color: $pp-color-background;
  //color: $pp-color-text;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


#save-button{
  right: 20px;
  bottom: 10px;
  left: auto;
  position: fixed;
}

#add-button {
  width: 20%;
  left: 40%;
}

.mat-mini-fab.cancel-button {
  right: 10px;
  position: absolute;
}

.form-container:first-child {
  padding-top: 10px
}

.form-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

#container {
  width: 50%;
  padding-left: 25%;
}

.form-container mat-form-field {
  margin-top: 25px;
}
