<form [formGroup]="registrationForm">
  <mat-form-field>
    <input matInput placeholder="First name" type="text" formControlName="first_name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last name" type="text" formControlName="last_name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Repeat password" type="password" formControlName="passwordConfirmation">
  </mat-form-field>
  <div class="info">
    <mat-error *ngIf="error">
      {{ error.message }}
    </mat-error>
  </div>
  <button
    mat-flat-button
    color="primary"
    (click)="register()">Register</button>
</form>
